<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day03.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>if基本概念.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>if注意点.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>if练习.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>sizeof.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>三目运算符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>关系运算符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>石头剪子布.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>自增自减.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>赋值运算符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>逗号运算符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>逻辑运算符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
