<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>二维数组和函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>二维数组注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>多级指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>字符串常用方法1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>字符串常用方法2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>字符串数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>字符串的基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>字符串练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>指针为什么要分类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>指针基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>指针的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>指针练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>指针练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70CB10941B2A66A200964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB10A21B2A6C8B00964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB10AD1B2A749900964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB10B81B2A7A1F00964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB10C31B2A830C00964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB10E11B2A89B200964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB10EC1B2AB3F000964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB11021B2AB7E800964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB110D1B2AB98100964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB11181B2AC29100964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB11231B2AC57600964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB112E1B2ACA2000964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB11391B2AD05C00964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB11441B2AD77800964B92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
