<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>折半查找.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>折半查找练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>数组和函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>数组和函数2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>数组的注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>数组练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>数组练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>数组练习3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>练习4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>进制查表法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>进制查表法优化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>选择-冒泡排序优化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>选择排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70CBC94C1B27C5710089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC95A1B27C9A10089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9651B27CBBE0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9701B27D2270089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC97B1B27D86F0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9861B27DB1E0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9911B27E1260089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC99C1B27E4400089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9A71B28113A0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9B21B28189B0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9BD1B281EDD0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9DB1B28222B0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9E61B2822530089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9F11B282E870089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBC9FC1B28324B0089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CBCA071B283BA20089409D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
