<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>printf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>scanf函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>scanf实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>变量的作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>变量的基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>常亮.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>注释.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>注释注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>705D5CA01B1E8ABE0007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CAE1B1E98DD0007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CB91B1E98EF0007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CC41B1E9F7E0007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CCF1B1EA3330007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CDA1B1EAA900007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CE51B1EDC1C0007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CF01B1EE5C30007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>705D5CFB1B1EEDDA0007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
