<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>const关键字.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>day10.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>extern和static对函数的作用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>static对局部变量的作用.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>typedef.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>typedef和宏定义的区别.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>内部全局变量和外部全局变量.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>宏定义.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>带参数的宏定义.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>文件包含.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>条件编译.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>条件编译其它写法.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
	</dict>
</dict>
</plist>
