<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>指向函数的指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>指向函数的指针的应用场景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>指向函数的指针练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>指向结构体的指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>指针和字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>指针和字符串注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>指针类型的特点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>指针练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>枚举基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>结构体初始化.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>结构体和函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>结构体基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>结构体定义的方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>结构体数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>结构体的内存存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>结构体的嵌套定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>结构体类型的作用域.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70D499691B2D0B0600D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499771B2D165D00D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499821B2D198500D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D4998D1B2D1A8800D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499981B2D1C2800D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499A31B2D20C800D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499AE1B2D256500D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499B91B2D2A6900D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499C41B2D2D8600D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499E21B2D57B700D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499ED1B2D5C1400D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D499F81B2D5ED100D3D175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D988771B2D678700F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D988821B2D694800F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D9888D1B2D6C1200F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D988981B2D718D00F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D988A31B2D745200F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D988AE1B2D77AB00F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70D988B91B2D7F7600F7FDAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
