<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>day03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>if基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>if注意点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>if练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>sizeof.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>三目运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>关系运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>石头剪子布.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>自增自减.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>赋值运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>逗号运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>逻辑运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>705D5D0B1B1EFB220007F7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE76C1B1FE1B700A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7771B1FE38E00A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7821B1FEBD500A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE78D1B1FEDA300A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7981B1FF09400A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7A31B1FF4AF00A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7AE1B1FFBAF00A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7B91B20282C00A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7C41B202E2D00A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7CF1B20416900A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70BDE7DA1B2046C900A85C9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
