<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>const关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>day10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>extern和static对函数的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>static和extern对全局变量的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>static对局部变量的作用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>typedef.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>typedef和宏定义的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>内部全局变量和外部全局变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>宏定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>带参数的宏定义.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>文件包含.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>条件编译.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>条件编译其它写法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70B9F4D91B2E5BE300477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F4E71B2E617F00477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F4F21B2E618F00477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5161B2E68DF00477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5241B2E6EC200477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F52F1B2E727900477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F53D1B2E784700477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5481B2E7D0800477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5531B2EA8DB00477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F55E1B2EB19400477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5691B2EB6AE00477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F57A1B2EBC1400477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5851B2EC72700477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70B9F5901B2EC95700477690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
