<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-进制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-进制转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-原码补码反码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-变量的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-位运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-位运算练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-类型说明符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-char类型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-char练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188544D518D7D4070024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188544E518D7D8B10024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188544F218D7E0820024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188544FF18D7E47A0024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1885450C18D7E7C30024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1885451918D7F3660024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1885452618D81A8D0024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1885453318D826AE0024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1885454018D82ACF0024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
