<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-进制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>02-进制转换.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03-原码补码反码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-变量的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-位运算.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>char基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>char练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>位运算符2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>位运算符练习1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>位运算符练习2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>位运算练习3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>变量的存储细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>数组基本概念.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>数组的初始化和遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>数组的遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>类型说明符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188544D518D7D4070024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188544E518D7D8B10024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188544F218D7E0820024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188544FF18D7E47A0024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1885450C18D7E7C30024C684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22941B26BC48003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB229F1B26BF5A003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22AA1B26C2BF003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22B51B26C4D2003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22C01B26C7AB003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22CB1B26CE1D003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22D61B26D25D003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22E11B26D51B003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB22F71B26DEA8003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB23021B26E2E7003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70CB230D1B26E904003318A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
