<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-进制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>02-进制转换.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>03-原码补码反码.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>04-变量的存储细节.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>05-位运算.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>char基本概念.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>char练习.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>位运算符2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>位运算符练习1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>位运算符练习2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>位运算练习3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>变量的存储细节.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>数组基本概念.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>数组的初始化和遍历.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>数组的遍历.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>类型说明符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
	</dict>
</dict>
</plist>
