<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-进制.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>02-进制转换.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>03-原码补码反码.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>04-变量的存储细节.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>05-位运算.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>char基本概念.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>char练习.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>位运算符2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>位运算符练习1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>位运算符练习2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>位运算练习3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>变量的存储细节.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>数组基本概念.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>数组的初始化和遍历.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>数组的遍历.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>类型说明符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
	</dict>
</dict>
</plist>
